* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    max-height: 450px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.container {
    display: none;
}

.back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    user-select: none;
}

/* Place the "forward button" to the right */
.forward {
    right: 0;
}

.back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
    color: cyan;
}

.info {
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.sqr {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 3px;
    background-color: rgb(49, 106, 106);
    display: inline-block;
    transition: background-color 0.5s ease;
}

.enable, .dots:hover {
    background-color: cyan;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@-webkit-keyframes fade {
    from {
        opacity: .65
    }
    to {
        opacity: 2
    }
}

@keyframes fade {
    from {
        opacity: .65
    }
    to {
        opacity: 2
    }
}
