.indexbg {
    background-color: #000816;
    background-image: url(IMG_3335.png);
    background-repeat: no-repeat;
    background-size: 1625px 575px;
    background-position: -71px 50px
}

.mainBanner {
    position: relative; 
    top: 5px; 
    left: 5px;
}

.navBar {
    color: cyan !important; 
    font-size: 145%; 
    font-family: Jost;
    position: relative;
    top: 7px;
}

.galNav {
    font-family: Jost;
    color: cyan; 
    text-align: center; 
    font-size: 120%; 
    background-color: #000816;
}

.galIMG {
    border: 2px solid #005f71; 
    padding: 7px 7px 7px 7px;
}

a.ex1:link, a.ex1:visited, a.ex1:active {
    color: cyan;
}

a.ex1:hover {
    color: white !important;
}

.gallerybg {
    background-color: #000816;
    background-image: url(GALLERYBG.png);
    background-size: 100%;
    background-attachment: fixed;
}

.unselectable {
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.scrolling-image-container {
    overflow: hidden;
}

.scrolling-image1 {
    background: url(../img/loop.PNG) repeat-x;
    width: 4096px;
    height: 725px;
    -webkit-animation: bannerMove1 120s linear infinite;
    animation: bannerMove1 120s linear infinite;
}
@keyframes bannerMove1 {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-2048px);
    }
}
@-webkit-keyframes bannerMove1 {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-2048px);
    }
}

.scrolling-image2 {
    background: url(../img/loop2.png) repeat-x;
    width: 5806px;
    height: 655px;
    -webkit-animation: bannerMove2 200s linear infinite;
    animation: bannerMove2 200s linear infinite;
}
@keyframes bannerMove2 {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-2903px);
    }
}
@-webkit-keyframes bannerMove2 {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-2903px);
    }
}

hr.new1 {
    border: 1px solid rgb(0, 139, 139);
  }

hr.new2 {
    border: 1px solid rgb(0, 139, 139);
    width: 50%;
  }

  hr.blogSep {
    border: 1px dashed rgb(0, 110, 110);
    width: 70%;
  }

.fade {
    -webkit-animation: fade 6s;
    animation: fade 6s;
}

@-webkit-keyframes fade {
    from {
        opacity: .40
    }
    to {
        opacity: 2
    }
}

@keyframes fade {
    from {
        opacity: .40
    }
    to {
        opacity: 2
    }
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}
