/* General Stuff ======================== */

a {
    text-decoration: none;
}

h1, h2, p {
    font-family: Jost;
}

h2 {
    color: aqua
}

a:visited {
    color:white;
    text-decoration: none;
}

/* Images and Decoration =============================================== */

.logo {
    height: 40px;
    margin: 20px;
    transform: skew(-19.5deg);
}

.image-gal {
    height: 400px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    scale: 1.1;
}

.image-gal:hover {
    cursor: pointer; 
    transform: scale(0.925);
    transition: 0.7s;
}

.image-grid {
    overflow: hidden;
    border-style: solid;
    border-color: black;
}

.image-grid:hover {
    border-style: solid;
    border-color: aqua;
}

.site-border {
    border-bottom: 2px solid aqua;
    position: sticky;
}

/* Navigation and Containers ============================================== */

.nav-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 2px solid black;
    margin: 0;
}

.nav-logo {
    flex-grow: 3; text-align: left;
}

.nav-button {
    flex-grow: 1; text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Animations ======================================== */

.fade {
    -webkit-animation: fade 2s;
    animation: fade 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 2
    }
}

@keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 2
    }
}