/* General Stuff ======================== */

a {
    text-decoration: none;
}

h1, h2, p {
    font-family: Jost;
}

a:visited {
    color:white;
    text-decoration: none;
}

/* Containers ======================== */

.nav-container {
    width: 1536px;
    height: 864px;
    position: relative;
    background-color: black;
    margin: 20px auto;
    overflow: hidden;
}

/* Images ======================== */

.logo {
    width: 950px;
    padding-left: 272px;
    transform: skew(-19.5deg);
}

.nav-img {
    width: auto;
    height: 864px;
    position: absolute;
}

/* Text ======================== */

.title-subtext {
    color: rgb(0, 140, 170);
    position: absolute;
    top: 85px;
    font-size: 27px;
    transform: skew(-19.5deg);
    text-align: left;
    width: 559px;
    margin: 0;
    padding: 0;
}

.title-text {
    color: white;
    position: absolute;
    top: 112px;
    left: 0;
    font-size: 76px;
    transform: skew(-19.5deg);
    text-align: right;
    width: 470px;
    height: 85px;
    margin: 0;
    padding: 0;
    border-bottom: solid;
    line-height: 1.22;
}

.flavor-text {
    color: rgb(0, 225, 255);
    position: absolute;
    top: 188px;
    left: 20px;
    font-size: 20px;
    white-space: pre-line;
}

/* Navigation ======================== */

.nav-div {
    width: 300px;
    transform: skew(-19.5deg);
    position: absolute;
}

.hovering {
    opacity: 0;
}

.hovering:hover {
    opacity: 1;
}


/* Vertical Sliding Image Animations ======================== */

.sliding-container {
    overflow: hidden;
    transform: skew(-19.5deg);
    position: absolute;
}

.sliding-background {
    background: url(img/char_select_S.png) repeat-y;
    height: 1674px; /* Image height x 3 */
    width: 44px;
}

.slide-up {
    animation: slide 10s linear infinite;
}

.slide-down {
    animation: slide 10s linear reverse infinite;
}


@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, -558px, 0); /* Image height */
    }
  }