a {
    text-decoration: none;
}

h1, h2, p {
    font-family: Jost;
}

a:visited {
    color:white;
    text-decoration: none;
}

.unselectable{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}